body{
    background-color: antiquewhite;
}

/* h1과 h2는 plum 배경색 */
h1,
h2{
    /* background-color: plum; */
}

/* h1 자매 중 첫번째 h2만 plum 배경색 
h1 적용 안 됨*/
h1 + h2{
    /* background-color: plum; */
}

/* h1의 자매인 모든 h2에 plum 배경색 */
h1 ~ h2{
    background-color: plum;
}

ul, 
ol{
    /* color:#333;
    font-size: 32px; */
}

h5 ~ h6,
ul{
    color:#333;
    font-size: 32px;
}

.korea{
    color:skyblue;
}
.japan{
    color:crimson;
}
.incheon{
    color:darkblue;
}
.leader{
    color:purple;
}
li:nth-child(5){
    text-decoration:underline;
}
/* 짝수 행  even, 2n */
li:nth-child(2n){
    background-color: #eee;
}
/* 5의 배수 행  */
li:nth-child(5n){
    background-color: #aaa;
}

[type="text"]{
    background-color: aqua;
}
/* 다음에 합시다 */
ul:nth-child(2) > li:nth-child(){
    text-decoration: overline;
}