* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  display: grid;
  /* column: 6개, row: 8개 */
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  height: 100%;
}
.item {
  border: 2px solid #000000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weekday {
  background-color: rgb(62, 199, 52);
}
/* 맨 첫번째 칸 배경 투명하게 설정 */
.item:nth-child(1) {
  background-color: transparent;
}
/* .item:nth-child(7+6n),
.item:nth-child(13),
.item:nth-child(19),
.item:nth-child(25),
.item:nth-child(31),
.item:nth-child(37),
.item:nth-child(43) {
  background-color: yellowgreen;
} */

/* 1-2교시 색깔 채우기 */
.item:nth-child(6n + 7) {
  background-color: yellowgreen;
}
/* 3~7교시 배경색 yellowgreen으로 채우기 */
.item:nth-child(18) {
  background-color: yellowgreen;
}
.item:nth-child(23) {
  background-color: yellowgreen;
}
.item:nth-child(26) {
  background-color: yellowgreen;
}
.item:nth-child(32) {
  background-color: yellowgreen;
}

/* .item:nth-child(10),
.item:nth-child(16),
.item:nth-child(18),
.item:nth-child(20),
.item:nth-child(21),
.item:nth-child(22),
.item:nth-child(24),
.item:nth-child(26),
.item:nth-child(27),
.item:nth-child(28),
.item:nth-child(36),
.item:nth-child(42) {
  background-color: darkseagreen;
} */

.item:nth-child(10) {
  background-color: aquamarine;
  grid-column: 4 / 5; /* 4열에서 5열까지 */
  grid-row: 2/4; /* 2행에서 3행까지 */
  /* grid-row-start: 2;
  grid-row-end:3; */
}
.item:nth-child(17) {
  background-color: aquamarine;
  grid-column: -2/ -1; /* 6  /  7 */
  grid-row: 3 / 5;
  /* grid-row : 2 / span 2   :  3번부터 2칸 */
  /* grid-row: 5 / 3; */
  /* grid-row: span 2 / 5; */
}
.item:nth-child(19) {
  background-color: aquamarine;
  grid-column: 2/ 3;
  grid-row: 4 / 6;
}
.item:nth-child(20) {
  background-color: aquamarine;
  grid-column: 3/ 4;
  grid-row: 4 / 6;
}
.item:nth-child(21) {
  background-color: aquamarine;
  grid-column: 4/ 5;
  grid-row: 4 / 6;
}
.item:nth-child(31) {
  background-color: aquamarine;
  grid-column: 6 /7;
  grid-row: 6/8;
}

/* 4교시 수학 배경 투명색으로 */
.item:nth-child(25) {
  background-color: transparent;
}

.item:nth-child(35) {
  grid-column: 4 / 5;
  grid-row: 7 / 9;
}
.item:nth-child(36) {
  grid-column: 5/ 6;
  grid-row: 7 /9;
}
